@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200);
@import url(https://fonts.googleapis.com/css2?family=Bungee&display=swap);
* {
  margin: 0;
  padding: 0;
}
:root {
  --white: #fff;
  --black: #000;
  --dark-1: #2b2d42;
  --dark-2: #0f4c81;
  --dark-3: #636de0;
  --color7: #335aa3;
  --color9: #646fd4;
  --color10: #5584ac;
  --color-23f: #87ceeb;
  --color-23ef: #bdcdd6;
}
html {
  overflow-x: hidden;
}
body {
  overflow-y: hidden;
  background-color: var(--color-23ef);
  font-display: swap;
}
nav {
  display: flex;
  background-color: var(--color7);
  justify-content: space-around;
  color: var(--color-23f);
  height: 60px;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
}
.logo a {
  letter-spacing: 1.5px;
  font-size: 22pt;
  text-decoration: none;
  font-family: bungee, sans-serif;
  color: var(--color-23f);
  font-display: swap;
}
nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between;
}
nav ul li a {
  color: var(--color-23f);
  text-decoration: none;
  font-size: 16pt;
  font-display: swap;
}
nav ul li a:hover {
  color: var(--color10);
}
.margin-top {
  margin-top: 90px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 20px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: #fff;
  transition: 0.4s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: #2196f3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
input:checked + .slider:before {
  transform: translateX(16px);
}
.wrapper {
  height: 20px;
  width: 100%;
}
.wrapper .icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin: 10px;
  width: 35px;
  height: 35px;
  bottom: 10px;
  text-align: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.material-symbols-outlined {
  margin-top: 5px;
  margin-left: 1;
  font-variation-settings: 0 600 200 40;
}
.wrapper .trash:hover {
  background: #1877f2;
  color: #fff;
}
.clear {
  border-radius: 100%;
  border: none;
}
.dark-mode {
  background-color: var(--dark-2);
  color: var(--white);
  border: none;
  border-radius: 100%;
  width: 30px;
  height: 30px;
}
.dark-mode .dark-mode {
  background-color: var(--color7);
}
.dark-mode .logo a {
  color: var(--dark-3);
}
.dark-mode nav {
  background-color: var(--dark-1);
}
.dark-mode nav ul li a {
  color: var(--dark-3);
}
.dark-mode nav ul li a:hover {
  color: var(--color7);
}
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}
.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -5px;
  top: -3px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}
.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: rgb(206, 206, 206);
  border-radius: 3px;
  transition: all 0.4s;
}
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}
.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}
.menu-toggle input:checked ~ span:nth-child(2) {
  background-color: var(--white);
  transform: rotate(45deg) translate(-1px, -1px);
}
.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}
.menu-toggle input:checked ~ span:nth-child(4) {
  background-color: var(--white);
  transform: rotate(-45deg) translate(-1px, 0);
}
@media screen and (max-width: 768px) {
  nav ul {
    width: 50%;
  }
}
@media screen and (max-width: 576px) {
  .menu-toggle {
    display: flex;
  }
  nav ul {
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: -1;
    background-color: var(--color7);
    transform: translateX(100%);
    transition: all 0.6s;
    opacity: 0;
  }
  .dark-mode ul {
    background-color: var(--dark-1);
  }
  nav ul li a {
    border: solid 2px;
    color: var(--black);
    width: 280px;
    height: 40px;
    text-align: center;
    display: block;
    border-radius: 8px;
  }
  nav ul.slide {
    opacity: 1;
    transform: translateX(0%);
  }
}
@media screen and (max-width: 360px) {
  .menu-toggle {
    display: flex;
  }
  nav ul {
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 75%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: -1;
    background-color: var(--color7);
    transform: translateX(100%);
    transition: all 0.6s;
    opacity: 0;
  }
  .dark-mode ul {
    background-color: var(--dark-1);
  }
  nav ul li a {
    border: solid 2px;
    color: var(--black);
    width: 240px;
    height: 40px;
    text-align: center;
    display: block;
    border-radius: 8px;
  }
  nav ul.slide {
    opacity: 1;
    transform: translateX(0%);
  }
}
@media screen and (max-width: 320px) {
  .menu-toggle {
    display: flex;
  }
  nav ul {
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 65%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: -1;
    background-color: var(--color7);
    transform: translateX(100%);
    transition: all 0.6s;
    opacity: 0;
  }
  .dark-mode ul {
    background-color: var(--dark-1);
  }
  nav ul li a {
    border: solid 2px;
    color: var(--black);
    width: 165px;
    height: 40px;
    text-align: center;
    display: block;
    border-radius: 8px;
  }
  nav ul.slide {
    opacity: 1;
    transform: translateX(0%);
  }
}
